- unless @subject_search.nil?
  - unless @subject_search.empty?
    .well{:style => "float:left; margin:10px",:class=>"span10"}
      %h3 Search by subject
      %table.table.table-striped
        %thead
          %tr
            %th uid
            %th customer mail
            %th customer name
            %th department
            %th description
            %th status
            %th subject
            %th assigned to
            %th= t '.actions', :default => t("helpers.actions")
        - @subject_search.each do |f|
          %tbody
            %tr
              %td= f.uid
              %td= f.customer_email
              %td= f.customer_name
              %td= f.department.department_name
              %td= f.description.html_safe
              %td= f.status.status_name
              %td= f.subject
              - if f.user_id=="0"
                %td Nobody assigned yet
              - else
                %td= f.user.email
              %td
                = link_to "show", query_path(f),:class => 'btn btn-mini'
                = link_to t('.edit', :default => t("reply")),                 |
                  reply_path(f), :class => 'btn btn-mini' |
